.IndicatorList {
    .lightbulb_icon {
        width: 2em;
        height: 2em;
        display: inline;
    }

    h2 {
        margin: 0;
        line-height: 2em;

        svg {
            vertical-align: middle;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        clear: right;

        .indicator_row {
            margin-bottom: 0.25em;
        }
    }
}
