@import '../../scss/button';
@import '../../scss/colors';

$indicator-panel-color: #f9f9f9;

.Pipeline {
    flex: 1;
    padding: 0.5rem;
    background-color: $panel-color;

    .name {
        font-size: 1.25em;
        font-weight: bold;
    }

    .edit, .done {
        @extend %button;
        @include colored-button(desaturate($blue, 10%));
        float: right;
        width: auto;
    }

    .form_section_title {
        margin: 0.25rem;
    }

    .form_item {
        display: inline-block;
        margin: 0.25rem
    }

    label {
        font-size: 0.75rem;
        display: block;
    }

    input {
        display: block;
    }

    .indicator_associations {
        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }

        .no_indicators_msg {
            font-size: 0.75rem;
            margin: 0.25rem;
        }

        .indicator_row {
            display: flex;
            align-items: flex-start;
            margin-bottom: 0.25rem;

            &:last-child {
                margin-bottom: 0;

                .indicator_association {
                    border-bottom-left-radius: 0;
                }
            }
        }

        .indicator_association {
            background-color: $indicator-panel-color;
            width: 100%;
            border-radius: $button-border-radius;
            border-top-right-radius: 0;
        }

        .remove {
            @extend %button;
            @include panel-edge-button($indicator-panel-color, desaturate($red, 10%), right);
            padding: 0;
        }

        .add {
            @extend %button;
            @include panel-edge-button($indicator-panel-color, desaturate($blue, 10%), bottom);
            width: auto;
        }

        &.empty {
            .add {
                @include colored-button($blue);
            }
        }
    }
}
