@import '../button';

.Pipeline {
    flex: 1;
    padding: 0.5rem;
    background-color: #eeeef5;

    .name {
        font-size: 1.25em;
        font-weight: bold;
    }

    .edit,.done {
        @extend %button;
        @include colored-button(desaturate($blue, 10%));
        float: right;
        width: auto;
    }

    .form_section_title {
        margin: 0.25rem;
    }

    .form_item {
        display: inline-block;
        margin: 0.25rem
    }

    label {
        font-size: 0.75rem;
        display: block;
    }

    input {
        display: block;
    }

    .indicator_associations {
        .no_indicators_msg {
            font-size: 0.75rem;
            margin: 0.25rem;
        }

        .indicator_row {
            display: flex;
            align-items: flex-start;
        }

        .indicator_association {
            background-color: #f9f9f9;
            margin-bottom: 0.25rem;
            width: 100%;
        }

        .remove {
        }
    }
}
