@import '../button';

.PipelineList {
    ul {
        list-style-type: none;
        padding-left: 0;
        clear: right;
    }

    .pipelineRow {
        display: flex;
        margin-bottom: 0.25rem;
        align-items: flex-start;
    }

    .edit,.done {
        @extend %button;
        @include colored-button(desaturate($blue, 10%));
        float: right;
        width: auto;
    }

    &.editing > .edit, &.editing > .done {
        margin-right: $button-margin + (2 * $button-margin) + $button-min-dim;
    }

    .remove {
        @extend %button;
        @include colored-button(desaturate($red, 10%));
        padding: 0;
        float: right;
    }

    .add {
        @extend %button;
        @include colored-button(desaturate($blue, 10%));
        width: auto;
        margin-top: 0;
    }

    .init_add {
        background: none;
        border-style: none;
        padding: 0;
        font-size: 1em;
        font-family: inherit;
        color: $blue;
    }
}
