@import '../../scss/_button';
@import '../../scss/_colors';

.PipelineList {
    .pipeline_icon {
        padding: 0.25em;
        box-sizing: border-box;
        width: 2em;
        height: 2em;
        display: inline-block;
    }

    h2 {
        margin: 0;
        line-height: 2em;

        svg {
            vertical-align: middle;
        }
    }

    >ul {
        list-style-type: none;
        padding-left: 0;
        clear: right;
        margin: 0;
    }

    .pipeline_row {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.25rem;

        >.remove {
            @extend %button;
            @include panel-edge-button($panel-color, desaturate($red, 10%), right);
            padding: 0;
            float: right;
        }

        .Pipeline {
            border-radius: $button-border-radius;
        }

        &:first-child {
            .Pipeline {
                border-top-right-radius: 0;
            }
        }
    }

    >.edit, >.done {
        @extend %button;
        @include panel-edge-button($panel-color, desaturate($blue, 10%), top);
        float: right;
        width: auto;
    }

    >.add {
        @extend %button;
        @include panel-edge-button($panel-color, desaturate($blue, 10%), bottom);
        width: auto;
    }

    .init_add {
        background: none;
        border-style: none;
        padding: 0;
        font-size: 1em;
        font-family: inherit;
        color: $blue;
    }

    &.editing {
        >ul {
            .pipeline_row {
                &:last-child {
                    margin-bottom: 0;

                    .Pipeline {
                        border-bottom-left-radius: 0;
                    }
                }

                .Pipeline {
                    border-top-right-radius: 0;
                }
            }
        }

        >.edit, >.done {
            margin-right: $button-min-dim + 0.1rem;
        }
    }
}
