.Indicator {
    flex: 1;
    padding: 0.5rem;
    background-color: #eeeef5;

    .name {
        font-size: 1.25em;
        font-weight: bold;
    }

    .form_contents {
        display: flex;
        align-items: flex-start;
    }

    .form_item {
        display: inline-block;
        margin: 0.25rem
    }

    label {
        font-size: 0.75rem;
        display: block;
    }

    input {
        display: block;
    }
}
