.ControllerList {
    .controller_icon {
        padding: 0.25em;
        box-sizing: border-box;
        width: 2em;
        height: 2em;
        display: inline-block;
    }

    h2 {
        margin: 0;
        line-height: 2em;

        svg {
            vertical-align: middle;
        }
    }
}